.completedCard {
    border: 1px solid #37b5ff;
    padding: 10px 9px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: grab;
    border-radius: 5px;
    width: calc(100% - 18px)
}



.completedCard h1 {
    font-size: 18px;
    color: #37b5ff;
}

.completedCard p {
    font-size: 15px;
    overflow: hidden;
}