.contactContainer {
    min-height: 100vh;

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.contactLeft {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactLeft button {
    width: fit-content;
    border: none;
    background: #37b6fc00;
    border: 1px solid #37b6fc;
    padding: 6px 46px;
    border-radius: 26px;
    font-size: 18px;
    color: #37b6fc;
    transition: 0.3s;
    cursor: pointer;
}



.contactLeft button:hover {
    background-color: #36b4f9;
    color: white;


}

.contactRight {
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 18px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    gap: 23px;
    border-radius: 5px;
}


.contactRight .contactFeild {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.contactRight .contactFeild input {
    width: calc(100% - 20px);
    outline: none;
    height: 30px;
    font-size: 16px;
    border: 1px solid #37b5ff;
    padding: 0 5px;
}

.contactRight .contactFeild textarea {
    width: calc(100% - 20px);
    outline: none;
    resize: none;
    font-size: 16px;
    height: 170px;
    border: 1px solid #37b5ff;
    padding: 5px;
}


.contactLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 21px;
}

.contactLinks a {
    color: white;
    background: #37b6fc;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid #37b5ff;
    transition: 0.3s;
    cursor: pointer;
}

.contactLinks a:hover {
    background-color: #37b6ff00;
    border: 1px solid #37b5ff;
    color: #37b5ff;


}


.contactRight button {
    border: none;
    background: #36b4f9;
    color: white;
    padding: 8px 0;
    cursor: pointer;
}



@media screen and (max-width: 470px) {
    .contactContainer {
        flex-direction: column-reverse;
        padding: 100px 0;
    }

    .contactLeft {
        width: 95%;
    }

    .contactRight {
        width: 90%;
    }
}

@media screen and (min-width: 470px) and (max-width: 955px) {
    .contactContainer {
        flex-direction: column-reverse;
        padding: 100px 0;
    }
}

@media screen and (min-width: 1921px) {}